body {
    margin: auto;
}

#home {
    display: flex;
    gap: 24 px;
    padding: 24px;
    align-items: center;
}

.note{
    padding: 20px;
    height: 100px;
}

.note_box{
    position: absolute;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    padding: 10px;
}


.createNote{ /*button*/
    background-color: #FF7EB9;
    color:#f0f0f0;
    height: 100px;
    width: 600px;
    border-radius: 12px;
    position: fixed;
    bottom: 10px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border: none;
    align-self: center;
    margin-left: 30%;
    margin-right: 30%;
}

iframe {
    width: 50%; /* Set the width of the iframe */
    height: 4000px; /* Set the height of the iframe */
    border:none;
    margin-left: 30%;
    margin-right: 30%;
  }