body{
  font-family: 'Inter', sans-serif;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
}

.title {
  font-weight: bold;
  font-size: 45pt;
  margin-left: 30px;
}

.welcome {
  display: flex;
  margin-top: 5vh;
}

.logo{
  height: 20vmin;
  pointer-events: none;
  display: flex;
  margin-right: 0;
  margin-left: 30%;
  margin-bottom: 10px;
  justify-content: right;
}

.folder {
  height: 179px;
  width: 223px;
  clip-path: polygon(0 0, 60% 0, 60% 17%, 100% 17%, 100% 100%, 0 100%);
}

.folder-container {
  padding: 1vw;
}

.file {
  height: 205px;
  width: 144px;
  background-color: #A9EDF1;
}

.file-container {
  padding: 1.5vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.text-left{
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}

.blue{
  background-color: #A9EDF1;
}

.green{
  background-color: #6EE488;
}

.purple{
  background-color: #CFCBFF;
}
  