.welcome {
  display: flex;
  margin-top: 5vh;
}

.logo{
  height: 20vmin;
  pointer-events: none;
  display: flex;
  margin-right: 0;
  margin-left: 50%;
}

.folder {
  height: 179px;
  width: 223px;
  background-color: #A9EDF1;
  clip-path: polygon(0 0, 60% 0, 60% 17%, 100% 17%, 100% 100%, 0 100%);
}

.folder-container {
  padding: 1vw;
}

.file {
  height: 205px;
  width: 144px;
  background-color: #A9EDF1;
}

.file-container {
  padding: 1vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.text-left{
  text-align: left;
}

